.callForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.callForm__input {
    border-radius: 2px;
    width: 100%;
    height: 48px;
    background: #fff;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    padding-left: 10px;
}

.callForm__btn {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 48px;
    background: #f00;
    cursor: pointer;
    border: none;
}