.regForm__blocks {
  margin: 120px auto;
  width: 516px;
}
.regForm__block {
    border-radius: 20px;
    padding: 36px 44px;
    height: auto;
    background: #fff;
}

.regForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.regForm span {
    font-weight: 600;
    font-size: 30px;
    line-height: 133%;
    color: #000;
    text-align: center;
}

.authForm__group {
     display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.authForm__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    color: var(--gray-dark);
}

.phoneInputs {
    height: 52px !important;
    width: 100% !important;
     border: 1.50px solid var(--border-light-gray) !important;
}

.authForm__input {
    border: 1.50px solid var(--border-light-gray);
    border-radius: 6px;
    padding: 0px 16px;
    height: 52px;
    background: #fff;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--text-light-gray);
    width: 100%;
    &:hover {
        border: 1.50px solid #bfd9ff;
    }
    &:focus {
        border: 1.50px solid #bfd9ff;
    }
}

.pwdStatus {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
}

.checkboxContainer a {
  color: var(--red-50);
  display: block;
  margin-left: 5px;
}

.inputWeak {
  border-color: #e74c3c; /* красный */
  box-shadow: 0 0 0 3px rgba(231,76,60,0.06);
}

.inputStrong {
  border-color: #27ae60; /* зелёный */
  box-shadow: 0 0 0 3px rgba(39,174,96,0.06);
}

.statusSuccess {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: var(--cusses);
}

.statusError {
  font-weight: 400;
font-size: 12px;
  line-height: 117%;
  color: var(--red-50);
}

.authForm__btn {
    box-shadow: 0 4px 8px 0 rgba(229, 105, 105, 0.25);
    background: var(--red-50);
    border-radius: 6px;
    padding: 0px 36px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.authForm__btn:hover {
    box-shadow: 0 4px 8px 0 rgba(229, 105, 105, 0.25);
    background: #d13636;
}

.forgetpassw__links {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: var(--text-light-gray);
}

/* Checkbox.module.css */
.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px 0px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  position: relative;
  font-weight: 500;
font-size: 14px;
line-height: 125%;
color: var(--gray-dark);
}

.checkboxContainer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.2s;
  margin-right: 10px;
}

.checkboxContainer input:checked + .checkmark {
  background-color: #eee; /* синий при checked */
  border: 3px solid #ff4343;;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked + .checkmark::after {
  display: block;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 8px;
  border: solid #ff4343;;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.activateForm__showbtn {
  position: absolute;
  right: 15px;
  top: 55%;
  border: none;
  cursor: pointer;
  width: 18px;
  height: 14px;
  background: transparent;
}

.links__bottom {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    margin-top: 16px;
    color: #fff;
}

.links__bottom a {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #fff;
    margin-left: 5px;
}

@media (max-width: 600px) {
  .regForm__blocks {
    width: 100%;
    margin: 48px auto;
    padding: 0px 24px;
  }
  .regForm__block {
    padding: 24px 24px;
  }
  .regForm span {
    font-size: 24px;
  }
}