.carousel {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 20px auto;
  overflow: hidden;
}

.track {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}

.track::-webkit-scrollbar {
  display: none; /* Chrome / Safari */
}

.card {
  flex: 0 0 calc((100% / 1.2) - 16px); /* шире карточки */
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
}

.card img {
  width: 100%;
  height: 160px;
  max-width: 100%;
  object-fit: cover;
}

/* стрелки */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  color: #333;
  z-index: 10;
  transition: background 0.2s ease, transform 0.2s ease;
}

.arrow:hover {
  background: #ff4a4a;
  color: white;
  transform: translateY(-50%) scale(1.05);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

/* адаптив */
@media (max-width: 768px) {
 
}

@media (max-width: 780px) {
  .card {
    flex: 0 0 calc((100% / 2.7) - 16px); /* 1.5 карточки */
  }
  .card img {
    width: 100%;
    height: 72px;
    max-width: 100%;
    object-fit: contain;
  }
  .arrow {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    font-size: 12px;
  }
}
